@charset "utf-8";
/* CSS Document */

body {background-color: black;}

@font-face {
    font-family: "TitleFont";
    src: url('fonts/msyi.ttf') format("truetype");
	
}

body {
	padding: 0;
	margin: 0;
	background-image: url("images/background.png");
	background-repeat:repeat-y;
	background-position: center;
	background-attachment: fixed;
}

.titleBar {
	padding: 0;
	margin: 0;
	width: auto;
	background-image: url("images/titleimg.png");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}
.toptitle {
	height: 30vw;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	color: black;
	font-family: "TitleFont", sans-serif;
	font-size: 10vw;
	text-align: center;
}

.tagline {
	width: 75%;
	margin: auto;
	padding: 10px;
	color: black;
	font-family: "TitleFont", sans-serif;
	font-size: 2vw;
	text-align: center;
}

.navbar {
	padding: 0px;
	background: #000000;
	position: fixed;
	color: #FFFFFF;
	font-size: 24px;
	font-family:"TitleFont", sans-serif;
	width: 100%;
	text-align: left;
	padding-top: 14px;
	padding-bottom: 14px;
	top:0;
}

.info {
	padding: 0;
	margin: 0;
	width: 100%;
	background-image: url("images/towersborder.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto;
}

.infoText {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10px;
	color: #FFF;
	width: 80%;
	font-size: 24px;
	font-family:"TitleFont", sans-serif;
	text-align: justify;
}

.imageslider{
	clear: both;
	padding: 0;
	margin: 0;
	background: #000;
	width: auto;
	color: #FFFFFF;
}
.sliderContent {
	padding-top: 10px;
	margin: 0;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10px;
	color: #FFF;
	width: 80%;
	font-size: 32px;
	font-family:"TitleFont", sans-serif;
}

.bio {
	color: #FFF;
	font-size: 24px;
	font-family:"TitleFont", sans-serif;
	text-align: justify;
	padding-top: 10px;
	margin: 0;
	padding-left: 10%;
	padding-right: 20px;
	padding-bottom: 10px;
	width: 45%;
	float: left;
}

.bioright {
	color: #FFF;
	font-size: 24px;
	font-family:"TitleFont", sans-serif;
	text-align: justify;
	padding-top: 10px;
	margin: 0;
	padding-right: 10%;
	padding-left: 20px;
	padding-bottom: 10px;
	width: 45%;
	float: left;
}

.imgright {
	padding-right: 10%;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 25%;
	float: left;
}
.imgleft {
	padding-left: 10%;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 25%;
	float: left;
}

.footer {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	clear: both;
	background: #000000;
	color: #FFFFFF;
	font-size: 24px;
	font-family:"TitleFont", sans-serif;
	width: 100%;
	text-align: left;
}

#imagethumb {
	border: 1px, #FFF;
}

a:link {
  color: #FFF;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #FFF;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #292929;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #FFF;
  background-color: transparent;
  text-decoration: underline;
}

#bottom {
	position: absolute;
	bottom: 0;
	left: 0;
}

